*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cabecera{
  background-image: url("../img/F100022197_2_4.jpg");
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
}
.cabecera::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
}
 .InfoCompra {
  background-image: url("../img/F100022197_2_4.jpg");
  width: 100%;  
  height: 200px; 
  margin-top: 30px;
  margin-bottom: 20px;
}
.InfoCompra h3{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 2rem;
  color:white;
  margin-left: 30px;
  padding-top: 20px;
}
.InfoCompra p{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.2rem;
  color:white;
  margin-left: 30px;
}

.QuienesSomos {
  background-image: url("../img/F100022197_2_4.jpg");
  width: 100%;  
  height: 300px; 
  margin-top: 30px;
  margin-bottom: 20px;
}
.QuienesSomos h3{
  font-family:'Bangers', cursive;
  font-size: 4rem;
  color:white;
  margin-left: 30px;
  padding-top: 20px;
}
.QuienesSomos h5{
  font-family:'Bangers', cursive;
  font-size: 1.5rem;
  color:white;
  margin-left: 30px;
}
.QuienesSomos p{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1rem;
  color:white;
  margin-left: 30px;
}
 /* background-color: lightgray; 
  opacity: 0.4;*/


#CardCotiza2{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.2rem;
}
#CardCotiza3{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.2rem;
}
.label img{
  max-width:45px;
  }
  .ImgCotiza{
    max-width:40px;
  }
.borde {
  background-color: #15bd55;
  border: 1px solid gray;
  padding: 10px; 
  
}

.titulo {
  padding-top: 1%;
  margin-bottom:  6%;
  color:white;
 
}
.TituloPrincipal{
  /* font-family: 'Raleway', sans-serif; */
  font-family: 'Bangers', cursive;
  font-size: 130px; 
  position: relative;
}
.TarjetaSimula{
  margin-top: 40px;
  margin-bottom: 15px;
}
.simulaCompra{
  font-family: 'Bangers', cursive;
  font-size: 2rem;
}
.secciones{
  margin-top: 6%;

}
.secciones h2{
  font-family: 'Bangers', cursive;
  font-size: 2rem;
}
.secciones h4{
  font-family: 'Roboto Flex', sans-serif;
  font-size: 1.3rem;
}
.secciones h3{
  font-family: 'Bangers', cursive;
  font-size: 1.7rem;
}
.secciones p{
  font-family: 'Roboto Flex', sans-serif;
  font-size: 1 rem;
}


h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 2rem;
}

.texto {
  font-family: 'Bangers', cursive;
  font-size: 2rem;
  position: relative;
}

.tarjeta{
  padding: 5px;
  margin: 5px;
}